<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador - Usuarios</title>

    <!--stylesheets-->
    <link rel="stylesheet" href="/static/variables.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/containers.css">
    <link rel="stylesheet" href="/static/navbars.css">
    <link rel="stylesheet" href="/static/tables.css">
    <link rel="stylesheet" href="/static/fonts.css">
    <link rel="stylesheet" href="/static/forms.css">

    <!--External Links-->

    <!--Lexend | Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <!--JetBrains Mono | Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <!--Iconos Minimalistas | Boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body class="general-body">
    <header class="header">
        <span>
            <a href="/" class="home">Home</a>

            <a href="/admin-panel" class="subrute"> \Panel de Administración</a>

            <a href="/admin-panel/users" class="subrute"> \Usuarios</a>
        </span>

        <nav class="navbar">
            <a href="/profile">Perfil</a>
            <a href="/products">Productos</a>
            <a href="/statistics">Estadísticas</a>
            {% if is_admin == True %}
                <a href="/admin-panel">Panel Admin</a>
            {% endif %}
            <a class="log-out" href="/cerrar-login">Cerrar Sesión</a>
        </nav>
    </header>

    <header class="admin-header">
        <nav class="admin-navbar">
            <a href="/admin-panel/users">Usuarios</a>
            <a href="/admin-panel/suppliers">Proveedores</a>
            <a href="/admin-panel/products">Productos</a>
            <a href="/admin-panel/categories">Categorías</a>
        </nav>
    </header>

    <section class="container-type-1">
        <h1>Administración Usuarios</h1> <!-- TODO Saludar al usuario creando un nuevo valor llamado user_name y mandarlo en el form, guardandolo en sesion-->
    </section>

    <section class="container-type-1 flex-container flex-jst-sb">
        <article class="container-type-1 no-margin full-width">
            <section class="container-type-1 flex-container flex-column no-margin">
                <h2>Lista de Usuarios</h2>
                <section class="overflow container-type-2">
                    <table class="table-type-1 no-table-margin table-sticky-header alternate hover">
                        <thead>
                            <tr>
                                <th class="th-title">ID</th>
                                <th class="th-title">Usuario</th>
                                <th class="th-title">E-Mail</th>
                                <th class="th-title">Rol</th>
                                <th class="th-title">Fecha de Registro</th>

                                <th class="th-option">Opciones</th>
                            </tr>
                        </thead>
                        <tbody">
                            {% if registered_users %}
                            {% for user in registered_users %}
                            <tr>
                                <td>{{user.user_id}}</td>
                                <td>{{user.user_name}}</td>
                                <td>{{user.user_email}}</td>
                                <td>
                                    {% if user.role_id == 0 %}
                                        Admin
                                    {% else %}
                                        User
                                    {% endif %}
                                </td>
                                <td>{{user.user_register_date}}</td>

                                <td class="td-option">
                                    <form action="/admin-panel/users/delete-user/{{ user.user_id }}" method="POST" class="option-subform">
                                        <button type="submit">
                                            <i class='bx bxs-trash-alt'></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </section>
            </section>
        </article>
        <article class="container-type-1 no-margin full-width">
            <section class="container-type-1 flex-container flex-column no-margin">
                <h2>Registros Recientes</h2>
                <section class="container-type-2 overflow">
                    <table class="table-type-1 no-table-margin table-sticky-header alternate hover">
                        <thead>
                            <tr>
                                <th class="th-title">Fecha de Registro</th>
                                <th class="th-title">ID</th>
                                <th class="th-title">Usuario</th>
                                <th class="th-title">E-Mail</th>
                                <th class="th-title">Rol</th>
                            </tr>
                        </thead>
                        <tbody">
                            {% if recent_registers %}
                            {% for user in recent_registers %}
                            <tr>
                                <td>{{user.user_register_date}}</td>
                                <td>{{user.user_id}}</td>
                                <td>{{user.user_name}}</td>
                                <td>{{user.user_email}}</td>
                                <td>
                                    {% if user.role_id == 0 %}
                                        Admin
                                    {% else %}
                                        User
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </section>
            </section>
        </article>
    </section>

    <section class="container-type-1 flex-container">
        <article class="no-margin">
            <h2>Añadir Usuario</h2>
            <form action="/admin-panel/users/add-user" method="POST" class="table-form-type-1">
                <fieldset class="flex-container">
                    <section>
                        <input type="text" id="name_input" placeholder="Nombre" name="txtUserName" required autocomplete="off">
                    </section>
                    <section>
                        <input type="email" id="email_input" placeholder="Correo Electrónico" name="txtEmail" required autocomplete="off">
                    </section>
                    <section>
                        <input type="password" id="password_input" placeholder="Contraseña" name="txtPassword" required autocomplete="off">
                    </section>
                    <section>
                        <select id="role" name="txtRole">
                            <option value="1">Usuario</option>
                            <option value="0">Admin</option>
                        </select>
                    </section>
                </fieldset>
                <fieldset>
                    <section class="flex-container">
                        <section>
                            <button type="submit">Enviar</button>
                        </section>
                        <section>
                            <button type="reset">Limpiar</button>
                        </section>
                    </section>
                </fieldset>
                <fieldset>
                    <section id="error-message" class="general-form-message error">
                        {% with messages = get_flashed_messages(category_filter=["error"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                  {{ message }}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </section>
                    <section id="success-message" class="general-form-message success">
                        {% with messages = get_flashed_messages(category_filter=["success"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                  {{ message }}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </section>
                    <section id="warning-message" class="general-form-message warning">
                        {% with messages = get_flashed_messages(category_filter=["warning"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                  {{ message }}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </section>        
                </fieldset>
            </form>
        </article>
    </section>

    <script>
        function hideMessage(id) {
            const element = document.getElementById(id);
            if (element && element.innerText.trim() !== "") {
                setTimeout(() => {
                    element.classList.add('hide');
                }, 10000);
            }
        }

        hideMessage('error-message');
        hideMessage('success-message');
        hideMessage('warning-message');
    </script>
</body>
</html>