<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador - Productos</title>

    <!--stylesheets-->
    <link rel="stylesheet" href="/static/variables.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/containers.css">
    <link rel="stylesheet" href="/static/navbars.css">
    <link rel="stylesheet" href="/static/tables.css">
    <link rel="stylesheet" href="/static/fonts.css">
    <link rel="stylesheet" href="/static/forms.css">

    <!--External Links-->

    <!--Lexend | Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <!--JetBrains Mono | Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <!--Iconos Minimalistas | Boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body class="general-body">
    <header class="header">
        <span>
            <a href="/" class="home">Home</a>

            <a href="/admin-panel" class="subrute"> \Panel de Administración</a>

            <a href="/admin-panel/products" class="subrute"> \Productos</a>
        </span>

        <nav class="navbar">
            <a href="/profile">Perfil</a>
            <a href="/products">Productos</a>
            <a href="/statistics">Estadísticas</a>
            {% if is_admin == True %}
                <a href="/admin-panel">Panel Admin</a>
            {% endif %}
            <a class="log-out" href="/cerrar-login">Cerrar Sesión</a>
        </nav>
    </header>

    <header class="admin-header">
        <nav class="admin-navbar">
            <a href="/admin-panel/users">Usuarios</a>
            <a href="/admin-panel/suppliers">Proveedores</a>
            <a href="/admin-panel/products">Productos</a>
            <a href="/admin-panel/categories">Categorías</a>
        </nav>
    </header>

    <section class="container-type-1">
        <h1>Administración Productos</h1>
    </section>

    <section class="container-type-1 flex-container flex-jst-sb">
        <article class="container-type-1 no-margin full-width">
            <section class="container-type-1 flex-container flex-column no-margin">
                <h2>Lista de Productos</h2>
                <section class="container-type-2 overflow">
                    <table id="products-table" class="table-type-1 no-table-margin table-sticky-header alternate hover">
                        <thead>
                            <tr>
                                <th class="th-title">ID</th>
                                <th class="th-title">Nombre</th>
                                <th class="th-title">Categoría</th>
                                <th class="th-title">Proveedor</th>
                                <th class="th-title">Precio Compra</th>
                                <th class="th-title">Precio Venta</th>
                                <th class="th-title">Beneficio</th>
                                <th class="th-title">Referencial</th>
                                <th class="th-title">Stock</th>
                                <th class="th-title">Zona</th>

                                <th class="th-option">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if registered_products %}
                            {% for product in registered_products %}
                            <tr title="Descripción: {{product.product_description}}">
                                <td>{{product.product_id}}</td>
                                <td>{{product.product_name}}</td>
                                <td>{{product.category_name}}</td>
                                <td>{{product.supplier_name}}</td>
                                <td>{{product.product_price}}</td>
                                <td>{{product.product_selling_price}}</td>
                                <td id="product_profit" style="color: {% if product.product_profit > 0 %}var(--success-green){% else %}var(--error-red){% endif %}">
                                    {{product.product_profit}}%
                                </td>

                                <td>{{product.product_referencial}}</td>
                                <td id="product-stock"
                                    style="{% if product.product_active_stock/product.product_limit_stock < 0.9 %}color: var(--warning-yellow){% endif%}">
                                    {{product.product_limit_stock}}/{{product.product_active_stock}}</td>
                                <td>{{product.product_warehouse}} - {{product.product_zone}}</td>
                                
                                <td class="td-option">
                                    <form action="/admin-panel/products/delete-product/{{ product.product_id }}" method="POST" class="option-subform flex-container flex-jst-sa">
                                        <button type="submit">
                                            <i class='bx bxs-trash-alt'></i>
                                        </button>

                                        <a id="stock-alert" title="{% if product.product_active_stock/product.product_limit_stock < 0.9 %}Stock por debajo del limite (90%){% else %}{% endif%}">
                                            <i style="{% if product.product_active_stock/product.product_limit_stock < 0.9 %}color: var(--warning-yellow);{%else%}color: var(--bgray-5){% endif%}" 
                                            class='bx bx-error'></i>
                                        </a>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </section>
            </section>
        </article>
    </section>

    <section class="container-type-1 flex-container">
        <article class="no-margin">
            <h2>Añadir Producto</h2>
            <form action="/admin-panel/products/add-product" method="POST" class="table-form-type-1">
                <fieldset class="flex-container">
                    <legend>Información</legend>
                    <section>
                        <input type="text" id="name_input" placeholder="Producto" name="txtProductName" required autocomplete="off">
                    </section>
                    <section>
                        <select id="category_id" name="txtCategoryId" required>
                            <option value="" disabled selected hidden>Categoría</option>
                            {% for category in registered_categories %}
                                <option value="{{ category.category_id }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                    </section>
                    <section>
                        <select id="supplier_id" name="txtSupplierId" required>
                            <option value="" disabled selected hidden>Proveedor</option>
                            {% for supplier in registered_suppliers %}
                                <option value="{{ supplier.supplier_id }}">{{ supplier.supplier_name }}</option>
                            {% endfor %}
                        </select>
                    </section>
                    <section>
                        <input type="text" id="referencial_input" placeholder="Referencial" name="txtProductReferencial" required autocomplete="off">
                    </section>
                </fieldset>
                <fieldset class="flex-container">
                    <legend>Precios</legend>
                    <section>
                        <input type="number" id="price_input" placeholder="Precio de Compra" name="txtProductPrice" required autocomplete="off" min="0" step="any">
                    </section>
                    <section>
                        <input type="number" id="selling_price_input" placeholder="Precio de Venta" name="txtProductSellingPrice" required autocomplete="off" min="0" step="any">
                    </section>
                </fieldset>
                <fieldset class="flex-container">
                    <legend>Stock</legend>
                    <section>
                        <input type="number" id="limit_stock_input" placeholder="Stock Máximo" name="txtProductLimitStock" required autocomplete="off" min="1" step="0">
                    </section>
                    <section>
                        <input type="number" id="active_stock_input" placeholder="Stock Activo" name="txtProductActiveStock" required autocomplete="off" min="1" step="0">
                    </section>
                </fieldset>
                <fieldset class="flex-container">
                    <legend>Almacén</legend>
                    <section>
                        <input type="text" id="warehouse_input" placeholder="Almacen" name="txtProductWarehouse" required autocomplete="off">
                    </section>
                    <section>
                        <input type="text" id="zone_input" placeholder="Zona" name="txtProductZone" required autocomplete="off">
                    </section>
                </fieldset>
                <fieldset class="flex-container">
                    <fieldset>
                        <legend id="counter">Descripción [0 / 1255]</legend>
                        <section>
                            <textarea id="description_input" placeholder="Descripción (Máx. 1255 caracteres)" maxlength="1255" name="txtProductDescription" required autocomplete="off"></textarea>
                        </section>
                    </fieldset>

                    <script>
                    document.getElementById("description_input").addEventListener("input", function () {
                        let max = 1255;
                        let actual = this.value.length;

                        if (actual > max) {
                            this.value = this.value.substring(0, max);
                        }

                        document.getElementById("counter").textContent = `Descripción [${actual} / ${max}]`;
                    });
                    </script>
                </fieldset>
                <fieldset>
                    <section class="flex-container">
                        <section>
                            <button type="submit">Enviar</button>
                        </section>
                        <section>
                            <button type="reset">Limpiar</button>
                        </section>
                    </section>
                </fieldset>
                <fieldset>
                    <section id="error-message" class="general-form-message error">
                        {% with messages = get_flashed_messages(category_filter=["error"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                  {{ message }}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </section>
                    <section id="success-message" class="general-form-message success">
                        {% with messages = get_flashed_messages(category_filter=["success"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                  {{ message }}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </section>
                    <section id="warning-message" class="general-form-message warning">
                        {% with messages = get_flashed_messages(category_filter=["warning"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                  {{ message }}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </section>
                </fieldset>
            </form>
        </article>
    </section>

    <script>
        function hideMessage(id) {
            const element = document.getElementById(id);
            if (element && element.innerText.trim() !== "") {
                setTimeout(() => {
                    element.classList.add('hide');
                }, 10000);
            }
        }

        hideMessage('error-message');
        hideMessage('success-message');
        hideMessage('warning-message');
    </script>
</body>
</html>