<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <header>
        <a href="/cerrar-login"> <!--TODO Aplicar estilo de alerta metiendo dentro de un contenedor especifico (contenedor section class alerta)-->
            <button type="button">Cerrar Sesión</button>
        </a>
    </header>
    <section>
        <h1>Index</h1> <!-- TODO Saludar al usuario creando un nuevo valor llamado user_name y mandarlo en el form, guardandolo en sesion-->
    </section>
</body>
</html>