<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    
    <!--stylesheets-->
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/wrapers.css">

    <!--External Links-->
    
    <!--Lexend | Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <!--JetBrains Mono | Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <!--Iconos Minimalistas | Boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
    <section class="login-wraper">
        <form action="acceso-login" method="POST">
            <h1>Login</h1>
            <section class="login-input">
                <input type="email" id="email_input" placeholder="Correo Electrónico" name="txtEmail" required>
                <i class='bx bxs-user'></i>
            </section>
            <section class="login-input">
                <input type="password" id="password_input" placeholder="Contraseña" name="txtPassword" required>
                <i class='bx bxs-lock-alt' ></i>
            </section>
            <section class="login-error">
                {% if mensaje %}
                {{ mensaje }}
                {% endif %}
            </section>
            <section class="login-submit">
                <button type="submit">Iniciar Sesión</button>
            </section>
        </form>

        <section class="register-input">
            <p>¿No tienes una cuenta?
            <a href="#">Regístrate</a></p>
        </section>
    </section>
</body>
</html>