<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <!--stylesheets-->
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/unregistered.css">

    <!--External Links-->
    
    <!--Lexend | Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <!--JetBrains Mono | Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <!--Iconos Minimalistas | Boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body class="unregistered-body">
    <section class="unregistered-form-wraper">
        <form action="login-access" method="POST">
            <h1>Login</h1>
            <section class="unregistered-form-input">
                <input type="email" id="email_input" placeholder="Correo Electrónico" name="txtEmail" required>
                <i class='bx bxs-user'></i>
            </section>
            <section class="unregistered-form-input">
                <input type="password" id="password_input" placeholder="Contraseña" name="txtPassword" required>
                <i class='bx bxs-lock-alt' ></i>
            </section>
            <section id="error-message" class="unregistered-form-message error">
                {% if error_message %}
                {{ error_message }}
                {% endif %}
            </section>
            <section id="success-message" class="unregistered-form-message success">
                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                    {% if messages %}
                        {% for message in messages %}
                          {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </section>
            <section id="warning-message" class="unregistered-form-message warning">
                {% with messages = get_flashed_messages(category_filter=["warning"]) %}
                    {% if messages %}
                        {% for message in messages %}
                          {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </section>

            <script>
                function hideMessage(id) {
                    const element = document.getElementById(id);
                    if (element && element.innerText.trim() !== "") {
                        setTimeout(() => {
                            element.classList.add('hide');
                        }, 3000);
                    }
                }

                hideMessage('error-message');
                hideMessage('success-message');
                hideMessage('warning-message');
            </script>

            <section class="unregistered-form-submit">
                <button type="submit">Iniciar Sesión</button>
            </section>
        </form>

        <section class="unregistered-form-change">
            <p>¿No tienes una cuenta?
            <a href="/register">Regístrate</a></p>
        </section>
    </section>
</body>
</html>