/*CSS dedicado a contenedores*/

.container-type-1{
    margin: 20px 40px;
    max-height: 500px;
}

.container-type-2{
    margin: 10px 20px;
    max-height: 500px;
}

.overflow{
    flex: 1 1 auto;
    overflow-y: auto;
    width: fit-content;
    
    scrollbar-color: var(--main-orange) transparent;
    scroll-behavior: smooth;
}

.overflow-x{
    flex: 1 1 auto;
    overflow-x: auto;
    width: fit-content;
    
    scrollbar-color: var(--main-orange) transparent;
    scroll-behavior: smooth;
}

.no-margin{
    margin: 0;
}

.no-side-margin{
    margin-right: 0;
    margin-left: 0;
}

.full-width{
    width: 100%;
}

.auto-width{
    width: auto;
}

.flex-container{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-jst-center{
    justify-content: center;
}

.flex-jst-end{
    justify-content: end;
}

.flex-jst-se{
    justify-content: space-evenly;
}

.flex-jst-sb{
    justify-content: space-between;
}

.flex-jst-sa{
    justify-content: space-around;
}

.flex-alg-center{
    align-items: center;
}

.flex-alg-se{
    align-items: space-evenly;
}

.flex-alg-sb{
    align-items: space-between;
}

.flex-alg-sa{
    align-items: space-around;
}