/*CSS dedicado a formularios*/

.form-type-1 {
    margin: 10px 20px;
    min-width: calc(100% - 40px);
}

.table-form-type-1 {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    min-width: 670px;
}

    .table-form-type-1 fieldset{
        border: none;
        outline: none;
        margin: 0 0 10px 0;
    }

    .table-form-type-1 input,
    .table-form-type-1 select{
        height: 38px;
        background-color: var(--bgray-2);
        border: none;
        outline: none;
        padding: 10px 8px;
        margin: 0 10px 0 0;
        transition: 0.3s;
    }

    .table-form-type-1 input:hover,
    .table-form-type-1 select:hover,
    .table-form-type-1 input:focus{
        background-color: var(--bgray-1);
    }

    .table-form-type-1 button{
        color: var(--main-orange);
        height: 38px;
        min-width: 120px;
        background-color: var(--bgray-2);
        border: none;
        outline: none;
        padding: 10px 8px;
        margin: 0 10px 0 0;
        transition: 0.3s;
    }

    .table-form-type-1 button:hover{
        background-color: var(--bgray-1);
        font-weight: 800;
    }

    .option-subform button{
        color: transparent;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
    }

    .option-subform button i{
        color: var(--main-orange);
        transition: 0.3s;
    }

    .option-subform button:hover i{
        color: var(--delete-red)
    }

.general-form-message{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0 0 20px;
    opacity: 1;
}
.general-form-message.error{
    color: var(--error-red);
}

.general-form-message.success{
    color: var(--success-green);
}

.general-form-message.warning{
    color: var(--warning-yellow);
}

.general-form-message.hide{
    opacity: 0;
    visibility: hidden;
}

.delete-confirm-form{
    width: 50dvw;
    background: transparent;
    border: 3px solid var(--delete-red);
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 10px var(--error-red);
    border-radius: 1rem;
    padding: 30px 40px;
}

    .delete-confirm-form form{
        display: flex;
        flex-direction: column;
    }

    .delete-confirm-form h1{
        font-family: "JetBrains Mono", "Lexend", Arial, Helvetica, sans-serif;
        font-size: 36px;
        text-align: center;
        margin: 15px 0 0 0;
    }

    .delete-confirm-form h2{
        text-align: center;
        margin: 25px 0 0 0;
    }

    .delete-confirm-form p{
        text-align: center;
        margin: 25px 0 0 0;
    }

    .delete-confirm-form button{
        margin: 30px;
        font-size: 16px;
        color: var(--background-gray);
        text-align: center;
        width: 250px;
        height: 50px;
        background: var(--t1-white);
        border: none;
        outline: none;
        border: 2px solid var(--t1-white);
        border-radius: 0.62rem;
        transition: all .3s ease-in-out;
    }

    .delete-confirm-form button.delete-button{
        background: var(--delete-red-c);
        color: var(--t1-white);
    }

    .delete-confirm-form button:hover{
        background: transparent;
        color: var(--t1-white);
        border: 2px solid var(--t02-gray);
        background: var(--t04-gray);
        transition: all .2s ease-in-out;
    }

    .delete-confirm-form button.delete-button:hover{
        background: var(--error-red);
    }