/*CSS dedicado a formularios*/

.form-type-1 {
    margin: 10px 20px;
    min-width: calc(100% - 40px);
}

.table-form-type-1 {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    min-width: 670px;
}

    .table-form-type-1 fieldset{
        border: none;
        outline: none;
        margin: 0 0 10px 0;
    }

    .table-form-type-1 input,
    .table-form-type-1 select{
        height: 38px;
        background-color: var(--bgray-2);
        border: none;
        outline: none;
        padding: 10px 8px;
        margin: 0 10px 0 0;
        transition: 0.3s;
    }

    .table-form-type-1 input:hover,
    .table-form-type-1 select:hover,
    .table-form-type-1 input:focus{
        background-color: var(--bgray-1);
    }

    .table-form-type-1 button{
        color: var(--main-orange);
        height: 38px;
        min-width: 120px;
        background-color: var(--bgray-2);
        border: none;
        outline: none;
        padding: 10px 8px;
        margin: 0 10px 0 0;
        transition: 0.3s;
    }

    .table-form-type-1 button:hover{
        background-color: var(--bgray-1);
        font-weight: 800;
    }

    .option-subform button{
        color: transparent;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
    }

    .option-subform button i{
        color: var(--main-orange);
        transition: 0.3s;
    }

    .option-subform button:hover i{
        color: var(--delete-red)
    }

.general-form-message{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0 0 20px;
    opacity: 1;
}
.general-form-message.error{
    color: var(--error-red);
}

.general-form-message.success{
    color: var(--success-green);
}

.general-form-message.warning{
    color: var(--warning-yellow);
}

.general-form-message.hide{
    opacity: 0;
    visibility: hidden;
}