/*CSS dedicado a tablas*/

.table-type-1 {
    margin: 10px 20px;
    border-collapse: collapse;
    min-width: calc(100% - 40px);
}

    /* Titulos de contenido */
    .table-type-1 thead .thead-title {
        background-color: #fd7530;
        text-align: left;
        color: #0e1114;
        font-weight: 700;
    }

    /* Titulos de optiones */
    .table-type-1 thead .thead-option {
        background-color: #501b00;
        text-align: left;
        color: #fd935d;
        font-weight: 700;
    }

    /* Fila de contenido */
    .table-type-1 tbody tr {
        background-color: #181c1f;
        border-bottom: 2px solid #0e1114;
    }

    .table-type-1.alternate tbody tr:nth-of-type(even) {
        background-color: #20262c;
    }

    .table-type-1.hover tbody tr:hover td {
        color: #fd935d;
        background-color: #0e1114;
    }

    /* Fila de opciones */
    .table-type-1 tbody .tbody-option {
        background-color: #101416;
        border-bottom: 2px solid #0e1114;
        transition: 0.2s;
    }

    .table-type-1.alternate tbody tr:nth-of-type(even) .tbody-option {
        background-color: #151a1f;
    }

    .table-type-1.table-type-1.hover tbody tr:hover .tbody-option {
        color: #fd935d;
        background-color: #0e1114;
    }

    /* Tamaño de celdas */
    .table-type-1 tbody td {
        padding: 8px 15px;
        transition: 0.2s; /*afecta al hover*/
    }

    .table-type-1 thead th {
        padding: 12px 15px;
    }
