/*CSS dedicado a formularios de usuarios no registrados (login, register)*/

.unregistered-form-wraper{
    width: 50dvh;
    /*background-color: #292929;*/
    background: transparent;
    border: 3px solid var(--t04-gray);
    backdrop-filter: blur(1px);
    box-shadow: 0px 0px 10px var(--t04-gray);
    border-radius: 1rem;
    padding: 30px 40px;

    form{
        display: flex;
        flex-direction: column;
    }

    h1{
        font-family: "JetBrains Mono", "Lexend", Arial, Helvetica, sans-serif;
        font-size: 36px;
        text-align: center;
        margin: 15px 0 0 0;
    }

    .unregistered-form-input{
        position: relative;
        width: 100%;
        height: 40px;
        margin: 30px 0 0 0;

        input{
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            border: 2px solid var(--t02-gray);
            border-radius: 0.62rem;
            padding: 20px 45px 20px 20px;
            transition: all .3s ease-in-out;
        }

        input:hover{
            border: 2px solid var(--t1-white);
            transition: all .3s ease-in-out;
        }

        ::placeholder{
            color: var(--light-gray);
        }

        label{
            display: block;
            width: 100%;
            height: 50%;
            margin: 15px 0 10px 15px
        }

        i{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
        }
    }        

    .unregistered-form-message{
        font-size: 14px;
        font-weight: 500;
        padding: 10px 0 0 20px;
        opacity: 1;
    }
    .unregistered-form-message.error{
        color: var(--error-red);
    }

    .unregistered-form-message.success{
        color: var(--success-green);
    }

    .unregistered-form-message.warning{
        color: var(--warning-yellow);
    }

    .unregistered-form-message.hide{
        opacity: 0;
        visibility: hidden;
    }

    .unregistered-form-submit{
        align-self: center;
        width: 80%;
        height: 50px;
        margin: 30px 0 30px 0;

        button{
            font-size: 16px;
            color: var(--background-gray);
            text-align: center;
            width: 100%;
            height: 100%;
            background: var(--t1-white);
            border: none;
            outline: none;
            border: 2px solid var(--t1-white);
            border-radius: 0.62rem;
            transition: all .3s ease-in-out;
        }

        :hover{
            background: transparent;
            color: var(--t1-white);
            border: 2px solid var(--t02-gray);
            background: var(--t04-gray);
            transition: all .2s ease-in-out;
        }
    }

    .unregistered-form-change{
        text-align: center;
        margin: 0 0 15px 0;

        a{
            text-decoration: none;
            font-weight: bold;
            color: var(--t1-white);
            transition: all .2s ease-in-out;

        }

        a:hover{
            color: var(--main-orange);
            transition: all .2s ease-in-out;
        }
    }
}